<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"> 
        <script type="text/javascript"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <title>MAIN</title>
    </head>
    <body>
         
        {% if okay == 1 %}
        <script>location.href = "{% url 'index' %}"; </script>
        {% endif %}
        {% load static %}
        {% load i18n %}

        <div id="header">
            <img id="ss_lg" src="{% static 'img/ss_lg.png' %}">
           <a href="{% url 'setting_main'%}"><img id="st_bt" src="{% static 'img/st_bt.png' %}" onclick="st_bt();"></a>
        </div>
        
        {% for user in users %}
        <div id="namebox">
            <span id="name" name="name">{{user.name}}</span>
        </div>
        {% endfor %}

        <div id="namebox">
            <span id="n_nim" name="n_nim">님, </span>
        </div>

        <div id="namebox">
            <span id="welcome" name="welcome">반갑습니다!</span>
        </div>

        <div id="bt">

            <div id="bt1">
                <a href="{% url 'choose_loc'%}"><img id="main-bt-01" src="{% static 'img/main-bt-01.png' %}" onclick="imgch01()"></a>
                <a href="{% url 'reservation_check'%}"><img id="main-bt-02" src="{% static 'img/main-bt-02.png' %}" onclick="imgch02()"></a>
            </div>

            <div id="bt2">
                <a href="{% url 'choose_shop'%}"><img id="main-bt-03" src="{% static 'img/main-bt-03.png' %}" onclick="imgch03()"></a>
                <a href="{% url 'notice'%}"><img id="main-bt-04" src="{% static 'img/main-bt-04.png' %}" onclick="imgch04()"></a>
            </div>
    </body>
</html>