<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/setting_main.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript"></script>
        <script src="../js/setting_main.js"></script>
        <title>setting_main</title>
    </head>
 
    <body>
        <div id="head">
        <div id="bt">
            <img id="backbt" src="../img/bb_b.png" onclick="bkfun()">
            <img id="homebt" src="../img/hb_b.png" onclick="gohome()">
        </div>

        <div id="settxt">
            <span id="txt">설정 및 문의</span>
        </div>
        </div>
        
    </body>
</html>