@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf") }
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Medium'; src: url("../font/NotoSansCJKkr-Medium.otf") } 

body{
    background: url("../img/mc_bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#backbt{
    margin-top:5.5%;
    margin-left:5%;
}

#goset{
    float: right;
    margin-top:5.5%;
    margin-right:5%;
}

#text{
    position: relative;
    margin-top:7%;
    margin-left:5%;
    margin-bottom:10%;
}
#text #this{
    font-family: NotoSansCJKKR-Black;
    font-size:2.688em;
    color:white;
}
#text #from{
    font-family: NotoSansCJKKR-Regular;
    font-size:2.388em;
    color:white;
}
#text #rent{
    margin-left:1%;
    font-family: NotoSansCJKKR-Regular;
    font-size:2.188em;
    color:white;
}
#a{
    position: relative;
    display: flex;
    justify-content: center;
}
#a .back{
    position: relative;
    display: flex;
    justify-content:flex-start;
    width:90%;
    background-color: white;
    border-radius: 25px;
    filter: drop-shadow(30px 30px 30px #d9d9d9);
    margin-top:7%;
}

.back .shop_list{
    position: relative;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}