@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf") }
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Medium'; src: url("../font/NotoSansCJKkr-Medium.otf") } 

body{
    background: url("../img/Setting-page-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#head{
    position: relative;
}
#head #backbt{
    float: left;
    margin-left:15px;
    margin-top: 10px;
}
#head #homebt{
    float: right;
    margin-right:15px;
    margin-top: 10px;
}

#txt{
    float: left;
    margin-top:85px;
    margin-left:-30px;
    font-family: NotoSansCJKKR-Black;
    font-size:1.988em;
    color:#64b9e3;
}


@media (max-height:700px) and (min-height:600px){

    #txt{
        float: left;
        margin-top:45px;
        margin-left:-30px;
        font-family: NotoSansCJKKR-Black;
        font-size:1.988em;
        color:#64b9e3;
    }
    
}

@media (min-width:413px) and (max-height:740px){

    #txt{
        float: left;
        margin-top:45px;
        margin-left:-30px;
        font-family: NotoSansCJKKR-Black;
        font-size:1.988em;
        color:#64b9e3;
    }
    
}